/**********  Css Start  **********/


/*********** Body ***********/
body{
    margin:0;
    padding:0;
    font-family: Verdana,Geneva,sans-serif; 
    font-size:16px;
}
/********** End of Body **********/




/**********---------- Basic Layout ----------**********/

/**********  Wrapper **********/
.wrapper{
    /*padding:0 20px 0 20px;*/    
    /************ Boxed Layout or use width ***********/
}
/********** End of Wrap **********/

.top-bar{
    background: #ffffff;
     display: flex;
    flex-direction: row;
}

nav{
    background: #000000;
    display: flex;
    flex-direction: row;
}

header{
   display: flex;
    flex-direction: row;
    justify-content: center;
}

header h1{
    font-size:60px;
    text-shadow:2px 2px #000;
    font-weight: 400;
}

main{
    background: #ffffff;
 
}

footer{
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lr-layout{
    padding: 0px 10px 0px 10px;
}
.lr-content{
    padding: 0px 10px 0px 10px;
}

/**********---------- End of Basic Layout ----------**********/



/**********---------- Inner Layout ----------**********/


/***** Top Bar Inner Layout *****/
.top-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 18px 0 0 0;

}

.top-bar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
}

.top-bar-sec{
 
    padding:0 8px 0 8px;
    margin: -25px 0 -25px 0;    
	font-size:18px;

}
/***** End of Top Bar Inner Layout *****/


/***** Nav Inner Layout *****/

.navbar-wrap{
    justify-content:center;
    align-self: center;
    width:100%;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding:5px;    
}
/***** End of Nav Bar Inner Layout *****/


/***** Logo Inner Layout *****/

.logo{
    padding:10px;
}


.logo img{
      width:210px;
}
/***** End of Logo Inner Layout *****/



/**********---------- End of Inner Layout ----------**********/



/**********---------- Content Styles ----------**********/

/***** Top Bar Cotent Styles *****/

.top-bar-sec p{
    display:flex;
}

.top-bar-sec span{
    font-size: 28px;
    display:block;
    padding:15px 0 15px 0; 
}


.top-bar-left span{
padding: 0 7px 0 0;
     font-size: 22px;
}
/***** End of Top Bar Cotent Styles *****/

/***** Nav Cotent Styles *****/

.navbar a {
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  text-align: center;
}

.navbar a:last-child{
    
    border-radius:5px;
    border:solid 1px #fdfdfd;   

}
/***** End of Nav Cotent Styles *****/


/***** Header Cotent Styles *****/
header{
  background-image: url('../assets/codeim.jpg');    
    height:400px;
}
/***** End of Header Cotent Styles *****/



/***** Footer Cotent Styles *****/
footer p{
    letter-spacing: 2px;
    color:#ffffff;
}
/***** End of Footer Cotent Styles *****/


/**********---------- End of Content Styles ----------**********/



 .parajust{
        text-align: justify;
}




.logotext{
  
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    border: solid 1px #ffffff;
    padding: 5px;
    color:#ffffff;
}


.main1{
    display: flex;
    flex-direction: row;
}

.main1{
    display: block;
}


.main2{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.iconsec {
   

   text-align: center;
    margin: 10px;  
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-align:center;
   
}

.iconsec:hover {

}

.iconsec i{
      border: solid 2px #000000;
    border-radius: 50px;
    padding: 18px;
}

.iconsec i:hover{
    background: red;
}
  
.sect1 p{
    font-size: 25px;
    margin-top: 8px;
    text-align: center;
}


